body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Verdana;
    font-size: 15.5px;
    background-image: linear-gradient(
    90deg,
    rgba(210, 180, 140, 0.5) 50%,
    rgba(160, 82, 45, 0.5)
    ),
    url(https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
    
  }
  
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 48px;
}

p {
  font-style: italic;
  font-size: 26px;  
}

  h1, p, title {
    margin: 0.8em auto;
    text-align: center;
    color: black;
  }
  
  form {
    margin: 40px auto;
    background-color: #513005;
    padding: auto;
    color: white;
    width: 60%;
    max-width: 800px;
    min-width: 400px;
  
  }
  
  label {
    display: block;
    margin: 0.8em auto;
  }
  
  input, textarea, select {
    color: black;
    font-size: 14px;
    margin: 0.5rem auto;
  }
  
  fieldset {
    margin: auto;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
  }
  
  fieldset:last-of-type {
    padding-top: 10px;
    text-align: center;
    font-size: 24px;
    border: none;
  }
  
  input[id="submit"] {
    display: block;
    width: 45%;
    margin: auto;
    font-size: 20px;
    font-style: strong;
    border-color: black, 
  }
  
  input[id="number"] {
    margin-top: 15px;
    font-size: 14px;
  }
  
  select[id="dropdown"] {
    width: 50%;
    margin-bottom: 5px;
  }

  input[id="name"] {
    min-width: 200px;
    max-width: 400px;
  }

  input[id="email"] {
    min-width: 256px;
    max-width: 400px;
  }
  
 
  
  